.colaborator {
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.colaborator:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.colaborator .name_age {
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.colaborator .name_age h4 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.colaborator .role {
    text-align: left;
}

.colaborator .role h5 {
    font-size: 16px;
    color: #9102d4;
    margin-bottom: 8px;
}

.colaborator .role p {
    font-size: 14px;
    color: #555555;
    line-height: 1.5;
    margin: 0;
}

.delete {
    position: absolute;
    right: -10px;
    top: -10px;
}
